<h2>Reviews &amp; Ratings <a>&#40;<span id="numReviews">5</span> Total&#41;</a></h2>
<button>Write a Review</button>
<div class="ratingSelects"></div>
<div class="horizontal-rule"><span></span></div>
<div class="reviewCarousel">
	<h2></h2>
	<h3>by</h3>
	<div class="rateit"></div>
	<p></p>
</div>
<div class="horizontal-rule"><span></span></div>