<div>
  <span>TVFinder</span>
  <span class="sizes">30-55</span><div class="noUiSlider"></div>
  <label for="screenType">Type
    <select name="screenType">
      <option value="any" selected="selected">Any</option>
    </select>
  </label>
  <label for="brand">Brand
    <select name="brand">
      <option value="any" selected="selected">Any</option>
    </select>
  </label>
  <label for="sortDirection">Sort
  <select name="sortDirection">
    <option value="pricelowtohigh" selected="selected">Price: Low to High</option>
    <option value="pricehightolow">Price: High to Low</option>
  </select></label>
</div>
<div> 
<h4>Num Matches <span id="nummatches"></span></h4>
<button id="clearfilters">clear filters</button>
</div> 