<div class="finder-form">
  <a class="finder-logo"><strong>TV</strong>Finder</a>
  <div class="noUiSlider"></div>
  <div class="select-group">
    <label class="display-label" for="screenType">Type</label>
    <label class="select-style">
    <select name="screenType">
        <option value="any" selected="selected">Any</option>
      </select>
    <label>
  </div>
  <div class="select-group">
    <label class="display-label" for="brand">Brand</label>
    <label class="select-style">
      <select name="brand">
        <option value="any" selected="selected">Any</option>
      </select>
    </label>
  </div>
  <div class="select-group">
    <label class="display-label" for="sortDirection">Sort</label>
    <label class="select-style">
      <select name="sortDirection">
        <option value="pricelowtohigh" selected="selected">Price: Low to High</option>
        <option value="pricehightolow">Price: High to Low</option>
      </select>
    </label>
  </div>
</div>
<div class="horizontal-rule"><span></span></div>
<div class="sub-finder-form"> 
<h4><span id="nummatches"></span> Matches <span class="fit-criteria-notice">For televisions fitting that criteria</span></h4>
<button id="clearfilters">clear filters</button>
</div> 