<header>
	<div>Logo</div> 
	<nav>
		<span>Searchbar</span>
		<span>Wishlist</span>
		<span>Login</span>
		<span>Cart</span>
	</nav>
 </header>
<section role="main"> 
	<div>
		<div>breadcrumbs</div>
		<h2>CTA Title</h2>
		<h3>CTA Label</h3>
		<div>Television pics with prices</div>
		<div>
			<span>TVFinder</span>
			<span>Range-Slider(price possibly jQueryUI?)</span>
			<span>Dropdowns(type brand sort)</span>
		</div>
	</div>
	<div> 
		<h4>Num Matches title</h4>
		<button>clear filters</button>
		<div> 
		{{#each models}}
			<article>
			<a>
				<img src="http://placekitten.com/100/100" />
				<h3>Title<h3> 
				<p>{{this.attributes.description}}</p>
				<h2>{{this.attributes.price}}</h2>
			</a>
			<a>Rating (stars, possibly jQueryUI?) </a> 
			</article>
		{{/each}}
		</div>
	</div>
</section>
<footer>
	<img src="http://placekitten.com/100/100" />
	<input/>
	<button>sign up</button>
	<div>column of links</div>
	<div>
		<h5>Money Centre Title</h5>
		<img src="http://placekitten.com/100/100"/>
	</div>
</footer>



